@media screen {
    html {
        height: 100%;
    }
    body {
        height: 100%;
    }
    #app {
        height: 100%;
    }
    main {
        height: 100%;
    }
}

/*-:: プレースホルダ {{ ::-*/
    /* 各ベンダープレフィックスが取れた標準版！！(http://caniuse.com/#search=placeholder-shown) */
    .form-control:placeholder-shown {
        color: #ccc;
    }
    /* Google Chrome, Safari, Opera 15+, Android, iOS */
    .form-control::-webkit-input-placeholder {
        color: #ccc;
    }
    /* Firefox 18- */
    .form-control:-moz-placeholder {
        color: #ccc;
        opacity: 1;
    }
    /* Firefox 19+ */
    .form-control::-moz-placeholder {
        color: #ccc;
        opacity: 1;
    }
    /* IE 10+ */
    .form-control:-ms-input-placeholder {
        color: #ccc;
    }
/*-:: }} プレースホルダ ::-*/


/*-:: FontAwesomeをプレースフォルダに使う {{ ::-*/
/* @see https://flipclap.co.jp/841/ */
    input.font-awesome {
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
    }
/*-:: }} FontAwesomeをプレースフォルダに使う ::-*/

/*-:: 画面下部にFIT {{ ::-*/
    .abfit_b{
        position: absolute;
        bottom: 0;
    }
/*-:: }} 画面下部にFIT ::-*/


/*-:: 印刷ボタン {{ ::-*/
    .printcontrol {
        position:fixed;
        width: 200px;
/*
        height: 400px;
*/
        right: 0;
        bottom: 0;
    }
/*-:: }} 印刷ボタン ::-*/



/*-:: スクロール付きブロック {{ ::-*/
    .scroll480{
        max-height: 480px;
        overflow-y: auto;
    }
/*-:: }} スクロール付きブロック ::-*/

/*フッター*/
.footer_company_name{
    text-align:right;
}
.footer .pull-right{
/*    background-color: #f5f5f5;*/
    width:100%;
    padding:20px 50px 20px 0;
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}
