.pa { position: absolute; }
.pr { position: relative; }

.left0 { left: 0px; }
.left5 { left: 5px; }
.left10 { left: 10px; }
.left15 { left: 15px; }
.left20 { left: 20px; }
.left25 { left: 25px; }
.left30 { left: 30px; }
.left35 { left: 35px; }
.left40 { left: 40px; }
.left45 { left: 45px; }
.left50 { left: 50px; }
.left55 { left: 55px; }
.left60 { left: 60px; }
.left65 { left: 65px; }
.left70 { left: 70px; }
.left75 { left: 75px; }
.left80 { left: 80px; }
.left85 { left: 85px; }
.left90 { left: 90px; }
.left95 { left: 95px; }
.left100 { left: 100px; }
.left105 { left: 105px; }
.left110 { left: 110px; }
.left115 { left: 115px; }
.left120 { left: 120px; }
.left125 { left: 125px; }
.left130 { left: 130px; }
.left135 { left: 135px; }
.left140 { left: 140px; }
.left145 { left: 145px; }
.left150 { left: 150px; }
.left155 { left: 155px; }
.left160 { left: 160px; }
.left165 { left: 165px; }
.left170 { left: 170px; }
.left175 { left: 175px; }
.left180 { left: 180px; }
.left185 { left: 185px; }
.left190 { left: 190px; }
.left195 { left: 195px; }
.left200 { left: 200px; }
.left205 { left: 205px; }
.left210 { left: 210px; }
.left215 { left: 215px; }
.left220 { left: 220px; }
.left225 { left: 225px; }
.left230 { left: 230px; }
.left235 { left: 235px; }
.left240 { left: 240px; }
.left245 { left: 245px; }
.left250 { left: 250px; }
.left255 { left: 255px; }
.left260 { left: 260px; }
.left265 { left: 265px; }
.left270 { left: 270px; }
.left275 { left: 275px; }
.left280 { left: 280px; }
.left285 { left: 285px; }
.left290 { left: 290px; }
.left295 { left: 295px; }
.left300 { left: 300px; }
.left305 { left: 305px; }
.left310 { left: 310px; }
.left315 { left: 315px; }
.left320 { left: 320px; }
.left325 { left: 325px; }
.left330 { left: 330px; }
.left335 { left: 335px; }
.left340 { left: 340px; }
.left345 { left: 345px; }
.left350 { left: 350px; }
.left355 { left: 355px; }
.left360 { left: 360px; }
.left365 { left: 365px; }
.left370 { left: 370px; }
.left375 { left: 375px; }
.left380 { left: 380px; }
.left385 { left: 385px; }
.left390 { left: 390px; }
.left395 { left: 395px; }
.left400 { left: 400px; }
.left405 { left: 405px; }
.left410 { left: 410px; }
.left415 { left: 415px; }
.left420 { left: 420px; }
.left425 { left: 425px; }
.left430 { left: 430px; }
.left435 { left: 435px; }
.left440 { left: 440px; }
.left445 { left: 445px; }
.left450 { left: 450px; }
.left455 { left: 455px; }
.left460 { left: 460px; }
.left465 { left: 465px; }
.left470 { left: 470px; }
.left475 { left: 475px; }
.left480 { left: 480px; }
.left485 { left: 485px; }
.left490 { left: 490px; }
.left495 { left: 495px; }
.left500 { left: 500px; }
.left505 { left: 505px; }
.left510 { left: 510px; }
.left515 { left: 515px; }
.left520 { left: 520px; }
.left525 { left: 525px; }
.left530 { left: 530px; }
.left535 { left: 535px; }
.left540 { left: 540px; }
.left545 { left: 545px; }
.left550 { left: 550px; }
.left555 { left: 555px; }
.left560 { left: 560px; }
.left565 { left: 565px; }
.left570 { left: 570px; }
.left575 { left: 575px; }
.left580 { left: 580px; }
.left585 { left: 585px; }
.left590 { left: 590px; }
.left595 { left: 595px; }
.left600 { left: 600px; }
.left605 { left: 605px; }
.left610 { left: 610px; }
.left615 { left: 615px; }
.left620 { left: 620px; }
.left625 { left: 625px; }
.left630 { left: 630px; }
.left635 { left: 635px; }
.left640 { left: 640px; }
.left645 { left: 645px; }
.left650 { left: 650px; }
.left655 { left: 655px; }
.left660 { left: 660px; }
.left665 { left: 665px; }
.left670 { left: 670px; }
.left675 { left: 675px; }
.left680 { left: 680px; }
.left685 { left: 685px; }
.left690 { left: 690px; }
.left695 { left: 695px; }
.left700 { left: 700px; }
.left705 { left: 705px; }
.left710 { left: 710px; }
.left715 { left: 715px; }
.left720 { left: 720px; }
.left725 { left: 725px; }
.left730 { left: 730px; }
.left735 { left: 735px; }
.left740 { left: 740px; }
.left745 { left: 745px; }
.left750 { left: 750px; }
.left755 { left: 755px; }
.left760 { left: 760px; }
.left765 { left: 765px; }
.left770 { left: 770px; }
.left775 { left: 775px; }
.left780 { left: 780px; }
.left785 { left: 785px; }
.left790 { left: 790px; }
.left795 { left: 795px; }
.left800 { left: 800px; }
.left805 { left: 805px; }
.left810 { left: 810px; }
.left815 { left: 815px; }
.left820 { left: 820px; }
.left825 { left: 825px; }
.left830 { left: 830px; }
.left835 { left: 835px; }
.left840 { left: 840px; }
.left845 { left: 845px; }
.left850 { left: 850px; }
.left855 { left: 855px; }
.left860 { left: 860px; }
.left865 { left: 865px; }
.left870 { left: 870px; }
.left875 { left: 875px; }
.left880 { left: 880px; }
.left885 { left: 885px; }
.left890 { left: 890px; }
.left895 { left: 895px; }
.left900 { left: 900px; }
.left905 { left: 905px; }
.left910 { left: 910px; }
.left915 { left: 915px; }
.left920 { left: 920px; }
.left925 { left: 925px; }
.left930 { left: 930px; }
.left935 { left: 935px; }
.left940 { left: 940px; }
.left945 { left: 945px; }
.left950 { left: 950px; }
.left955 { left: 955px; }
.left960 { left: 960px; }
.left965 { left: 965px; }
.left970 { left: 970px; }
.left975 { left: 975px; }
.left980 { left: 980px; }
.left985 { left: 985px; }
.left990 { left: 990px; }
.left995 { left: 995px; }
.left1000 { left: 1000px; }
.left1005 { left: 1005px; }
.left1010 { left: 1010px; }
.left1015 { left: 1015px; }
.left1020 { left: 1020px; }
.left1025 { left: 1025px; }
.left1030 { left: 1030px; }
.left1035 { left: 1035px; }
.left1040 { left: 1040px; }
.left1045 { left: 1045px; }
.left1050 { left: 1050px; }
.left1055 { left: 1055px; }
.left1060 { left: 1060px; }
.left1065 { left: 1065px; }
.left1070 { left: 1070px; }
.left1075 { left: 1075px; }
.left1080 { left: 1080px; }
.left1085 { left: 1085px; }
.left1090 { left: 1090px; }
.left1095 { left: 1095px; }
.left1100 { left: 1100px; }
.left1105 { left: 1105px; }
.left1110 { left: 1110px; }
.left1115 { left: 1115px; }
.left1120 { left: 1120px; }
.left1125 { left: 1125px; }
.left1130 { left: 1130px; }
.left1135 { left: 1135px; }
.left1140 { left: 1140px; }
.left1145 { left: 1145px; }
.left1150 { left: 1150px; }
.left1155 { left: 1155px; }
.left1160 { left: 1160px; }
.left1165 { left: 1165px; }
.left1170 { left: 1170px; }
.left1175 { left: 1175px; }
.left1180 { left: 1180px; }
.left1185 { left: 1185px; }
.left1190 { left: 1190px; }
.left1195 { left: 1195px; }
.left1200 { left: 1200px; }
.left1205 { left: 1205px; }
.left1210 { left: 1210px; }
.left1215 { left: 1215px; }
.left1220 { left: 1220px; }
.left1225 { left: 1225px; }
.left1230 { left: 1230px; }
.left1235 { left: 1235px; }
.left1240 { left: 1240px; }
.left1245 { left: 1245px; }
.left1250 { left: 1250px; }
.left1255 { left: 1255px; }
.left1260 { left: 1260px; }
.left1265 { left: 1265px; }
.left1270 { left: 1270px; }
.left1275 { left: 1275px; }
.left1280 { left: 1280px; }
