/**  */

/** MEDIA PRINT */
@media print {
    /* 基本のページ設定　*/
    @page{
        size: A4;
    /*  margin: 12mm; */
    }

    body {
        size: A4;
        overflow-x: inherit;
        padding: 0;
        counter-reset: pagecounter; /* カウンタの初期化 */
    }

    /* 改ページ用の設定 */
    .pagebreak {
        padding-top: 20px;
        padding-right: 5px;
        padding-left: 15px;
        position: relative;
        page-break-after: always;
    }

    /* ページカウント */
    .pagecounter::after {
      position: absolute;
      bottom: 0;
      right: 0;
      counter-increment: pagecounter;
      content: "" counter(pagecounter);
    }

	*, :after, :before {
		text-shadow: none!important;
		-webkit-box-shadow: none!important;
		box-shadow: none!important
	}
	a:not(.btn) {
		text-decoration: underline
	}
	abbr[title]:after {
		content: " (" attr(title) ")"
	}
	pre {
		white-space: pre-wrap!important
	}
	blockquote, pre {
	border: 1px solid #999;
		page-break-inside: avoid
	}
	thead {
		display: table-header-group
	}
	img, tr {
		page-break-inside: avoid
	}
	h2, h3, p {
		orphans: 3;
		widows: 3
	}
	h2, h3 {
		page-break-after: avoid
	}
	.navbar {
		display: none
	}
	.badge {
		border: 1px solid #000
	}
	.table {
		border-collapse: collapse!important
	}
	
	.table td, .table th {
		background-color: #fff!important
	    padding-top: .35rem;
	    padding-bottom: .35rem;
	    padding-left: .55rem;
	    padding-right: .55rem;
	}
	.table-bordered td, .table-bordered th {
		border: 1px solid #ddd!important
	}
	
	.bg-navy {
	    color: #495057!important;
	    background-color: #ffffff!important;
	}	

    /* 印刷しない要素　*/
    .noprint, .btn, .navi_sub, .title_right_ri, .number_style, .nav_style_height, header, footer{
        display: none;
    }

    /* 印刷しない罫線 */
    .noprintborder {
        border: none;
    }

    /* FORM */
    #maincontent input, #maincontent select, #maincontent textarea {
        border: none;
    }
    .input-group-addon {
        display: none;
    }

    /*---- プルダウンの矢印 ----*/
    select {
    	-webkit-appearance: none;/* ベンダープレフィックス(Google Chrome、Safari用) */
    	-moz-appearance: none;	/* ベンダープレフィックス(Firefox用) */
    	appearance: none;		/* 標準のスタイルを無効にする */
    }
    ::-ms-expand {		/* select要素のデザインを無効にする（IE用） */
    	display: none;
    }
    /*---- /プルダウンの矢印 ----*/

    /*---- 入力例 ----*/
    /* Webkit */
    ::-webkit-input-placeholder {
        display: none;
        color: #f00;
        opacity: 1;
    }
    /* Firefox 18 以前 */
    :-moz-placeholder {
        display: none;
        color: #f00;
    }
    /* Firefox 19 以降 */
    ::-moz-placeholder {
        display: none;
        color: #f00;

        /* Firefox 19 以降のデフォルトでは */
        /* color ではなく opacity で色合いを調整しているため */
        /* 文字色を指定する場合、opacity を 1 にする必要がある */
        opacity: 1;
    }
    /* IE 10 以降 */
    :-ms-input-placeholder {
        display: none;
        color: #f00;
    }
    /* CSS4では以下のような名前の擬似クラスになるらしい */
    /* おそらく今のところ対応ブラウザはない */
    :placeholder-shown {
        display: none;
        color: #f00;
    }
    /*---- /入力例 ----*/

    /* 個別設定 */
    .navi_sub {
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
    }

}
