@font-face {
  font-family: 'typicons';
  src: url("fonts/typicons.eot");
  src: url("fonts/typicons.eot?#iefix") format('embedded-opentype'),
       url("fonts/typicons.woff") format('woff'),
       url("fonts/typicons.ttf") format('truetype'),
       url("fonts/typicons.svg#typicons") format('svg');
  font-weight: normal;
  font-style: normal;
}
.wrap{
  width: 100%;
  /*margin: 0 auto;*/
  /*padding: 50px 0 100px;*/
  color: #fff;
/*  text-align: center;*/
}

.wrap li{
  list-style: none;
  float: left;
  margin: 0;
  /*padding: 0 0px;*/
}

input[type=radio], input[type=checkbox] {
  /*display: none;*/
}

/* ホワイト系 */
.color1 {
  background-color: #FFFFFF;
  border: solid 3px #dcdcdc;
}
/* ゴールド・シルバー系 */
.color2 {
  background: -moz-linear-gradient(top left, #b0c4de, #b0c4d, #b8860b, #b8860b);
  background: -webkit-linear-gradient(top left, #b0c4de, #b0c4d, #b8860b, #b8860b);
  background: linear-gradient(to bottom right, #b0c4de, #b0c4de, #b8860b, #b8860b);
}
/* ブラック系 */
.color3 {
  background-color: #000000;
}
/* ガンメタ系 */
.color4 {
  background: -moz-linear-gradient(top left, #808080, #808080, #FFFFFF, #808080, #808080);
  background: -webkit-linear-gradient(top left, #808080, #808080, #FFFFFF, #808080, #808080);
  background: linear-gradient(to bottom right, #808080, #808080, #FFFFFF, #808080, #808080);
}
/* シルバー系 */
.color5 {
  background-color: #808080;
}
/* レッド系 */
.color6 {
  background-color: #FF0000;
}
/* グリーン系 */
.color7 {
  background-color: #008000;
}
/* ワイン系 */
.color8 {
  background-color: #c71585;
}
/* ブルー系 */
.color9 {
  background-color: #0000ff;
}
/* イエロー系 */
.color10 {
  background-color: #ffff00;
}
/* オレンジ系 */
.color11 {
  background-color: #ffa500;
}
/* パープル系 */
.color12 {
  background-color: #800080;
}
/* ピンク系 */
.color13 {
  background-color: #ffc0cb;
}
/* ブラウン系 */
.color14 {
  background-color: #a52a2a;
}
/* その他の色  虹*/
.color15 {
  background : -moz-linear-gradient(top left, red, orange, yellow, green, aqua, blue, purple);
  background : -webkit-linear-gradient(top left, red, orange, yellow, green, aqua, blue, purple);
  background : linear-gradient(to bottom right, red, orange, yellow, green, aqua, blue, purple);
}

.radio {
  box-sizing: border-box;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  position: relative;
  display: inline-block;
  margin: 0 20px 8px 0;
  /*padding: 12px 12px 12px 42px;*/
  border-radius: 50px;
  /*background-color: #f6f7f8;*/
  vertical-align: middle;
  cursor: pointer;
  width: 30px;
  height: 30px;
  left: -40px;
}
.radio:hover + p.arrow_box {
  display: block;
  background-color: #87ceeb;
  opacity: 1;
  z-index:1;
}
.radio:hover:after {
  border-color: #53b300;
}

/*ラジオボタンクリック装飾*/
.radio:after {
/*
  -webkit-transition: border-color 0.2s linear;
  transition: border-color 0.2s linear;
  position: absolute;
  top: 50%;
  left: 15px;
  display: block;
  margin-top: -10px;
  width: 16px;
  height: 16px;
  border: 2px solid #bbb;
  border-radius: 6px;
  content: '';
*/
}

/*クリック後マーカー*/
.radio:before {
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  position: absolute;
  top: 0px;
  left: 13px;
  display: block;
  margin-top: -10px;
/*  width: 10px;
  height: 10px;*/
  border-radius: 50%;
  background-color: #53b300;
  content: '';
  opacity: 0;
  width: 28px;
  height: 28px;
  font-family: "Font Awesome 5 Free";
  content: '\f058';
  border: solid 3px #ffffff;
  color: #ffffff;
  font-size:14px;
  vertical-align: top;
  padding-top: -10px;
  text-align:center;

}
input[type=radio]:checked + .radio:before {
  opacity: 1;
}
.arrow_box {
  display: none;
  position: absolute;
  padding: 16px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #333;
  color: #000;
}
.arrow_box:after {
/*  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: #333;
  border-width: 10px;
  pointer-events: none;
  content: " ";*/
}