.list {
  /*border: 2px solid #555;*/
  width: 104px;
  list-style-type: none;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.item {
  margin:3px 0 3px -38px;
  width: 100px;
  float: left;
}

#item1 { background: #DCDCDC; }
#item2 { background: #a5cbff; }
#item3 { background: #5eff46; }

.thumbnail {
  width: 100%;
  height: 100px; /*規定の高さを入れる（可変）*/
  /*margin: 0;*/
  /*margin:0 0 0 -40px;*/
  padding: 0;
  display: table;
  table-layout: fixed;
}

.inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100%;
}

.image {
  max-width: 100%;
  max-height: 100px; /*規定の高さを入れる（可変）*/
  height: auto;
  vertical-align: bottom;
}