    .heading{
        width:100%;
        /*padding: 0.4em 0.5em;文字の上下 左右の余白*/
        font-size: 1.5em;
        color: #FFFFFF;/*文字色*/
        /*background: #f6f6f6;背景色*/
/*        border-left: solid 5px #ffaf58;左線（実線 太さ 色）
        border-bottom: solid 3px #d7d7d7;下線*/
    }